{% extends 'base-web.html' %}
{% load static %}
{% block main_web_content %}

    <main>
      <section id="histor">
        <h2 class="section-title">We are proud with our history!</h2>

        <div class="hist">

            <h3 class="title">
              Founded in 1989 in Bulgaria by Georgi Ivanov, MenTEL emerged as a pioneering force in the nation's telecommunications landscape. 
              From its inception, MenTEL was driven by a vision to revolutionize communication, connecting people across Bulgaria and beyond. 
              With a commitment to innovation and customer-centricity, MenTEL quickly established itself as a trusted leader in the industry. 
              Over the decades, MenTEL has continuously evolved, introducing cutting-edge technologies and services to meet the ever-changing 
              needs of its customers. Today, MenTEL stands as a testament to its founder's vision, empowering individuals and businesses alike 
              to communicate seamlessly in the digital age.
            </h3>



        </div>
      </section>
    </main>

{% endblock %}