{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MenTEL</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    />
    <link rel="stylesheet" href="{% static 'style/style.css' %}" />
  </head>
  <body style="background-image: url('{% static 'images/background_image.jpg' %}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <header class="header">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="logo" />
        </a>
      <nav class="navigation">
        <ul class="nav-list" role="list">
          <li class="nav-item">
            <a href="{% url 'mobileplans' %}" >Mobile plans</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'history' %}">History</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'contacts' %}">Contacts</a>
          </li>
        </ul>
      </nav>

      <button class="btn-login">Login</button>
    </header>
      {% block main_web_content %}
      {% endblock %}
  
  </body>
</html>
