<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MenTEL</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    />
    <link rel="stylesheet" href="../staticfiles/style/reset.css" />
    <link rel="stylesheet" href="../staticfiles/style/main.css" />
  </head>

  <body style="background-image: url('./img/background_image.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <header class="header">
      <img src="./img/logo.png" alt="Logo" class="logo" />
      <!-- <h2 class="logo-text"></h2> -->

      <nav class="navigation">
        <ul class="nav-list" role="list">
          <li class="nav-item">
            <a href="#mobile">Mobile plans</a>
          </li>
          <li class="nav-item">
            <a href="#history">Devices</a>
          </li>
          <li class="nav-item">
            <a href="#history">History</a>
          </li>
          <li class="nav-item">
            <a href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>

      <button class="btn">Logout</button>
    </header>
    
  </body>
</html>
